 .carousel-section {
  margin-top: 2.5em;
  color: #79828d;
  font-size: 0.8rem;
  text-align: center;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
} 

.slider .slide-track{
  animation:  scroll 40s linear infinite;
  display: flex;
}

.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slide img {
  height: 1.5em;
  margin: 0 1em;
  font-size: 1em;
}
