.privacy-policies {
  width: 100%;
  margin-top: 1.5em;
}

.footer-navbar nav {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.footer-navbar nav a {
  margin: 0.5em;
  margin-right: 0.7em;
}

.copyright {
  color: #ffffffcc;
  text-align: center;
  width: 100%;
}
