.section1-body {
  background-color: #e3e8eeb7;
  padding: 1.5em;
  margin-top: 3.5em;
}
.section1-heading {
  margin-top: 3em;
}
.section1-heading p {
  margin-top: -10px;
}
.section1-heading h3 {
  font-weight: 750;
}

.section1-search {
  margin-top: 2em;
}
#search {
  display: block;
  width: 90%;
  padding: 0.6em;
  border-radius: 5px;
  border: #e2e8f0;
}

.location-jobs {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
#country,
#jobs {
  padding: 0.7em;
  border: #e2e8f0;
  border-radius: 3px;
}
#search:focus {
  outline: none;
  box-shadow: 0 0 10px #9ecaed;
}
#country,
#jobs:focus {
  outline: none;
}

.product-body {
  position: relative;
  height: 35rem;
  overflow-y: scroll;
}
.scroll-bar {
  position: relative;
  margin-top: 4em;
}

.scroll-bar::before {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1), white 90%);
  filter: blur(10px);
  height: 5em;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.view-jobs {
  margin-top: 3em;
  margin-left: 9em;
  padding: 1em 2.5em;
}

.product-card {
  background-color: white;
  border-radius: 7px;
  margin-top: 3em;
  margin-bottom: -1em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  font-weight: 600;
}

.product-logo img {
  height: 3.5em;
  width: 3.5em;
  margin-left: 0.1em;
  margin-right: 0.5em;
  margin-top: 0.4em;
  padding: 0.1rem;
  object-fit: cover;
}
.product-details {
  margin-left: -0.8rem;
  font-size: 0.7em;
  display: flex;
  flex-direction: column;
  line-height: 0.5em;
  text-align: left;
}
.product-time {
  font-size: 0.8em;
  margin-top: -3.2em;
}
.product-head {
  color: black;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.product-tag-detail {
  display: flex;
  width: 100%;
  padding: -1em;
}

.product-tag-details {
  display: flex;
  margin: 0.3em;
  font-size: 1em;
}
.product-tag-details img {
  margin-top: 0.9em;
  margin-right: 0.1em;
  height: 1.5em;
}
